<div class="center-content">

        <form (ngSubmit)="login('','')" autocomplete="off" [formGroup]="miFormulario">
                <!-- USUARIO -->

                <div>
                        <mat-form-field appearance="legacy" fxLayout="column" fxFlex>
                                <mat-label>Introduce tu email</mat-label>
                                <input type="text" matInput formControlName="email" placeholder="Nombre">
                        </mat-form-field>

                </div>

                <!-- CONTRASEÑA -->
                <div>
                        <mat-form-field appearance="fill">
                                <mat-label>Introduce tu password</mat-label>
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                        </mat-form-field>
                </div>
                <span class="danger" *ngIf="error">El email o la contraseña no son correctos</span><br>
                <button mat-raised-button color="accent" type="submit">Ingresar</button>
        </form>
</div>