<div fxLayout="column">
    <div>
        <h1>Buscador de personajes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
            <h3>Buscador</h3>
            <mat-form-field class="example-full-width">
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [(ngModel)]="termino"
                       [matAutocomplete]="auto"
                       (input)="buscando()">

                <mat-autocomplete 
                autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="opcionSeleccionada($event)"
                >
                  <mat-option *ngFor="let personaje of personajes" [value]="personaje" >
                    {{personaje.uid}}
                  </mat-option>
                  <mat-option value="" *ngIf="personajes.length==0 && termino!='' ">
                    No se encontro nada con el termino de busqueda {{termino}}
            </mat-option>
                </mat-autocomplete>
               
              </mat-form-field>
    </div>
</div>

<div>
  
</div>