<h1>
    {{
        (personaje.id)
        ? 'Editar'
        : 'Nuevo'
    }} 
    Personaje: 
    <small>{{personaje.uid}}</small></h1>

<div fxLayout="row" 
fxLayoutGap="40px" 
fxLayout.xs="column">
    
<div fxFlex="50" fxLayout="column">
        <div 
        fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Personaje</mat-label>
                <input matInput
                type="text"
                [(ngModel)]='personaje.uid'
                required>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Especie</mat-label>
                <input matInput
                type="text"
                [(ngModel)]='personaje.especie'
                required>
            </mat-form-field>
        </div>
        
        <mat-form-field >
            <mat-label>Género</mat-label>
            <input matInput
            type="text"
            [(ngModel)]='personaje.genero'
            required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Frases</mat-label>
            <input matInput
            type="text"
            [(ngModel)]='personaje.frases'
            required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Foto Url</mat-label>
            <input matInput
            type="url"
            [(ngModel)]='personaje.alt_img'
            required>
        </mat-form-field>

        <br>
<div fxLayout>
        <button mat-raised-button color="accent"
        (click)="guardar()">
            <mat-icon>edit</mat-icon>
            {{
                (personaje.id)
                ? 'Editar'
                : 'Añadir'
            }}
        </button>
        <span class="spacer"></span>
            <button *ngIf="personaje.id" 
            mat-raised-button color="warn"
            (click)="borrarPersonaje()"
        >
            <mat-icon>remove</mat-icon>
            Borrar
        </button>
        
    </div>
    </div>
    <div fxFlex="50">
        <img
        [src]="personaje | image">
    </div>
</div>
